
.o_report_layout_standard {
    font-size: 13px;
    // information block on the right side of invoices
    #informations {
        margin-right: -30px;
        .col-3 {
            text-align: right;
        }
    }
    .page {
        h2 {
            font-size: calc(1.325rem + 0.7vw);
        }
    }
}

.o_standard_footer {
    font-size: xx-small;
}
