/* web_enterprise/static/src/legacy/scss/ui.scss */
.o_home_menu_background {
    background: url(/verdigado_template_default/static/head1.png),
        linear-gradient(to right bottom, #00354e, #a00057);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
