body {
    // main section on login screen
    div#wrapwrap main {
        background-color: $o-community-color !important;
        color: white;
    }

    .clearfix {
        .btn-primary {
            background-color: $o-enterprise-color;
        }
        a {
            color: white;
        }
    }
}
