body {
    // main section on login screen
    div#wrapwrap main {
        background-color: $o-community-color !important;
        color: white;
    }

    .btn-primary {
        background-color: $o-enterprise-color;
    }
    .btn-link {
        color: white;
    }
    .o_auth_oauth_providers {
        a {
            color: black

        }
    }
}
