<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record
        id="hr_holidays_public.menu_create_next_year_public_holidays"
        model="ir.ui.menu"
    >
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>

    <record id="action_hr_leave_report" model="ir.actions.act_window">
        <field name="name">Time Off Analysis</field>
        <field name="res_model">hr.leave.report</field>
        <field name="search_view_id" ref="hr_holidays.view_hr_holidays_filter_report" />
        <field name="domain">[('holiday_type', '=', 'employee')]</field>
        <field name="view_mode">tree,pivot,form</field>
        <field name="context">
            {'search_default_group_type': True, 'search_default_year': True,
            'search_default_validated': True, 'search_default_active_employee': True}
        </field>
    </record>

    <record id="hr_holidays.menu_hr_holidays_summary_all" model="ir.ui.menu">
        <field name="action" ref="action_hr_leave_report" />
    </record>
</odoo>
