/* hide the discuss icon on the top */
.o_MessagingMenu {
    display: none !important;
}

/* hide "New Allocation" on time off module */
div.o_cp_buttons button.btn.btn-secondary.btn-allocation {
    display: none;
}

.o_hr_attendance_kiosk_backdrop {
    background-color: #f5f1e9;
}

/* Kiosk mode */
.o_hr_attendance_kiosk_mode {
    background-color: #ffffff;
}

.o_hr_attendance_kiosk_mode .o_hr_attendance_user_badge {
    background: linear-gradient(90deg, #006e2e, #008939);
}

/* hide calendar and discuss in menu */
span[data-menu-xmlid="calendar.mail_menu_calendar"],
span[data-menu-xmlid="mail.menu_root_discuss"] {
    display: none;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #000000;
}

a {
    color: #006E2E;
    text-decoration: none;
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: #006E2E;
    text-decoration: none;
}