/* hide the discuss icon on the top */
.o_MessagingMenu {
    display: none !important;
}

/* hide "New Allocation" on time off module */
div.o_cp_buttons button.btn.btn-secondary.btn-allocation {
    display: none;
}

.o_hr_attendance_kiosk_backdrop {
    background-color: #f5f1e9;
}

/* Kiosk mode */
.o_hr_attendance_kiosk_mode {
    background-color: #ffffff;
}

.o_hr_attendance_kiosk_mode .o_hr_attendance_user_badge {
    background: linear-gradient(90deg, #006e2e, #008939);
}
