/* hide the discuss icon on the top */
.o_MessagingMenu {
    display: none !important;
}

/* hide "New Allocation" on time off module */
div.o_cp_buttons button.btn.btn-secondary.btn-allocation {
    display: none;
}

.o_hr_attendance_kiosk_backdrop {
    background-color: #f5f1e9;
}

/* Kiosk mode */
.o_hr_attendance_kiosk_mode {
    background-color: #ffffff;
}

.o_hr_attendance_kiosk_mode .o_hr_attendance_user_badge {
    background: linear-gradient(90deg, #006e2e, #008939);
}

/* hide calendar and discuss in menu */
span[data-menu-xmlid="calendar.mail_menu_calendar"],
span[data-menu-xmlid="mail.menu_root_discuss"] {
    display: none;
}

/* /web/static/src/legacy/scss/fields_extra.scss defined in bundle 'web.assets_backend' */
// background color in input fields
.o_required_modifier {
    &.o_input,
    .o_input {
        background-color: #e7f7eb !important;
    }
}

/* adapt display of attendance client action within dashboard */
.oe_dashboard .o_hr_attendance_kiosk_mode_container {
    position: relative;
    margin-top: 90px;
}

.oe_dashboard .o_hr_attendance_kiosk_backdrop {
    background: none;
}

/* hide add to dashboard link without mouseover */
.o_hr_attendance_user_badge .add_to_dashboard {
    display: none;
}
.o_hr_attendance_user_badge:hover .add_to_dashboard {
    display: block;
    color: white;
}

.oe_dashboard .o_hr_attendance_user_badge:hover .add_to_dashboard {
    display: none;
}
