.bg-100 {
    background-position-x: 110%;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: auto 380px;
    background-color: transparent;
    min-height: 185px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(90deg, #006E2E, #008939) !important;
    color: #212529;
}

.card-body {
    background-color: rgba(255, 255, 255, 1) !important;
    color: #212529;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #000000;
}

a {
    color: #006E2E;
    text-decoration: none;
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: #006E2E;
    text-decoration: none;
}